[flake8]
# ignore:
# E127: Continuation line over-indented for visual indent
# E128: A continuation line is under-indented for a visual indentation.
# W504: Line break after binary operator
ignore=E127,E128,W504
exclude=adafruit